@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }

  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
  }
}



p {
  @apply leading-[1.6];
}

@font-face {
  font-family: 'San Francisco Pro';
  src: url('../src/Assets/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');

}

/* Example of applying the font */
.apple {
  font-family: 'San Francisco Pro', Arial, sans-serif;
}

.html {
  font-family: 'San Francisco Pro', Arial, sans-serif;
}



.header .active {
  background: #dbeafe;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.1);
  /* Change this color as needed */
  color: #1976d2;
  /* Change this color as needed */
}


.home {
  background: linear-gradient(to bottom, #f8fafca7, #529df8a2), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 243 243'%3E%3Cfilter id='bgNoice' x='' y='' width='' height=''%3E%3CfeTurbulence baseFrequency='2' type='franctalNoise' %3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23bgNoice)' /%3E%3C/svg%3E");

  background-attachment: fixed;
}